/* future reference {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  color: #61dafb;
} */

#overall-app-cont{
  background-color:#61dafb ;
  height: 100vh;
}

#header-cont{
height: 7vh
}

#date-time-cont{
  background-color: seashell;
  height: 10vh;
}

#location-list-cont{
  background-color: sandybrown;
  height: 40vh
}

#table-cont{
  overflow-y: scroll;
  height: 35vh;
  border: 1px solid black;
}

#weather-cam-image-cont{
  background-color: salmon;
  height:40vh; 
}

#traffic-cam-image-div{
  border: 3px solid red
}