/* future reference {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  color: #61dafb;
} */

#overall-app-cont{
  background-color:#61dafb ;
  height: 100vh;
}

#header-cont{
height: 7vh
}

#date-time-cont{
  background-color: seashell;
  height: 10vh;
}

#location-list-cont{
  background-color: sandybrown;
  height: 40vh
}

#weather-cam-image-cont{
  background-color: salmon;
  height:40vh; 
}